body {
    margin: 1.5cm;
    background-color: #f5f5f5;
    color: #2f2f2f;
    font-family: serif;
    font-size: 14pt;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CCCCCC;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #BBBBBB;}

ul.topnav li a.active {background-color: #CC3333;}

ul.topnav li.right {float: right;}

.footertext {
    text-align: center;
    color: #c0c0c0;
    font-family: sans-serif;
    font-size: 12pt;
}

